<p style="text-align:center"><span style="font-size:48px"><span style="background-color:#2ecc71">معلومات عني</span></span></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center"><span style="color:#f39c12"><strong><span style="font-size:48px">المؤهلات التعليمية</span></strong></span></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center"><em><span style="font-size:48px">معلومات أخرى</span></em></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>
<% if 1 == 1 %>
  <p>1 is equal to 1</p>
<% end %>

<% 30.times do |i| %>
  <p>Looping for the <%= i %> time</p>
<% end %>
